@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
@import "tailwindcss";

.rubik-distressed-regular {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}


